* {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: black;
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid purple; */
}

h1 {
  text-align: center;
  font-size: 4em;
  color: #aa000b;
}

#bottone {
  width: 100px;
  height: 100px;
  border: 5px solid #aa000b;
  margin: 10px auto;
  border-radius: 55px;
}

iframe {
  display: inline-flex;
  margin: 10px;
  width: 120px;
  height: 240px;
}

footer {
  margin: 5px;
}

a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width:768px) {
  h1 {
    font-size: 3em;
  }
  #film2 {
    display: none;
  }
}

@media only screen and (max-width:414px) {


  main {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #bottone {
    display: inline-flex;
    /* vertical-align: middle; */
  }
  h1 {
    font-size: 2em;
  }
  #film2 {
    display: none;
  }
  #film3 {
    display: none;
  }
}
